<div>
  <h1>Customer Form</h1>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="inputParentDivs">
      First Name :
      <div>
        <input formControlName="fname" type="text" name="fname" placeholder="Enter First Name" />
        @if (getfname()?.hasValidator(Validators.required)) {
          <span class="requried">*</span>
        }
        @if (getfname()?.errors?.['required'] && (getfname()?.touched || getfname()?.dirty)) {
          <span class="requried">This field is requried to fill</span>
        }
      </div>
    </div>
    <div class="inputParentDivs">
      Last Name :
      <div>
        <input formControlName="lname" type="text" name="lname" placeholder="Enter Last Name" />
        @if (getlname()?.hasValidator(Validators.required)) {
          <span class="requried">*</span>
        }
        @if (getlname()?.errors?.['required'] && (getlname()?.touched || getlname()?.dirty)) {
          <span class="requried">This field is requried to fill</span>
        }
      </div>
    </div>
    <div class="inputParentDivs">
      Email :
      <div>
        <input
          formControlName="email"
          type="email"
          name="email"
          placeholder="Enter Email Address"
        />
        @if (getEmail()?.hasValidator(Validators.required)) {
          <span class="requried">*</span>
        }
        @if (getEmail()?.errors?.['email'] && (getEmail()?.touched || getEmail()?.dirty)) {
          <span class="requried">Please Enter Correct Email</span>
        }
        @if (getEmail()?.errors?.['required'] && (getEmail()?.touched || getEmail()?.dirty)) {
          <span class="requried">This field is requried to fill</span>
        }
      </div>
    </div>
    <div class="inputParentDivs">
      Contact :
      <div>
        <input
          formControlName="contact"
          type="text"
          name="contact"
          placeholder="Enter Contact Number"
        />
        @if (getContact()?.hasValidator(Validators.required)) {
          <span class="requried">*</span>
        }
        @if (
          getContact()?.errors?.['minlength'] && (getContact()?.touched || getContact()?.dirty)
        ) {
          <span class="requried">Minimum 10 digits required</span>
        }
        @if (
          getContact()?.errors?.['maxlength'] && (getContact()?.touched || getContact()?.dirty)
        ) {
          <span class="requried">Maximum 10 digits required</span>
        }
        @if (getContact()?.errors?.['required'] && (getContact()?.touched || getContact()?.dirty)) {
          <span class="requried">This field is requried to fill</span>
        }
      </div>
    </div>
    <button>Register</button>
    <button type="button" (click)="getDataFromAPI()">Fill Data</button>
  </form>
</div>
